<%- include ('partials/header.ejs') %>

<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                <h3>Gostaria de realizar uma pergunta?</h3>
            </div>
            <div class="card-body">                
                <a href="/perguntar"><button class="btn btn-primary mt-5">Perguntar</button></a>
            </div>
        </div>
    </div>
</body>

<%- include ('partials/footer.ejs') %>